@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Poppins&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.5;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
}
/*Nav Bar*/
nav{
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
   z-index: 50;
   background-color: rgb(160, 232, 160);
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*Hero section*/
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.tag{
    background-color: rgb(56, 121, 56);
    padding: 5px 10px;
    color: aliceblue;
    align-self: flex-start;
}
.hero-content h1{
    font-size: 75px;
    line-height: 1.3;
    font-weight:350;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.3s ease-in-out;
 
}
button:hover{
    opacity: 0.8;
    box-shadow: 2px 2px 2px rgb(112, 105, 105);
  
}
.exp-btn{
    background-color: rgb(244, 214, 20);
    align-self: flex-start;
}
@media (max-width:786px){
   nav {
display: block;
float: none;
   }
    .hero{
        flex-direction: column;
    }
    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        width: 90%;
    }
    .hero-content{
        gap: 10px;
        padding: 10px;
    }
    .hero-content h1{
        font-size: 32px;
    }
   .foot-container{
    flex-direction: column;
   }
   .features{
    flex-direction: column;
}
.feature{
    flex-direction: column;
}
}
/*Features*/
.features{
    display: flex;
    margin-top: 90px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
    .feature{
        display: flex;
        gap: 20px;
        transition: 0.3s ease-in;
        padding: 20px;
    }
    .feature:hover{
        box-shadow: 5px 5px 5px rgb(75, 53, 25) ;
    }
.divider{
    margin-top: 50px;
    margin-bottom: 20px;
    left: 0;
    padding: 0;
    width: 100%;
  
}
/*Menu section*/
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}
.grid{
    gap: 10px;
    display: grid;
    grid-template-areas:
    "I1 I1 I2 I3 "
    "I1 I1 I2 I7 "
    "I4 I5 I6 I7 ";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
.grid-img{
border-radius: 13px;
transition: 0.3s ease-in-out;
width: 100%;
height: 100%;
}
.grid-img:hover{
    transform: scale(1.06);
    gap: 20px;
}

.feature img{
    width: 72px;
}
.grid{
    padding: 10px;
}
/*footer section*/
footer{
    background-color: rgb(235, 222, 198);
}
.foot-container{
    padding: 30px;
    display: flex;
   
    gap: 50px;
   
   justify-content: space-between;
}
.link-lists h3{
    margin-bottom: 10px;
    color: gray;
}
.news_letter h3{
    margin-bottom: 10px;
    color: grey;
}

.icon_container {
display: flex;
gap: 25px;
font-size: 32px;

}
.news_letter input{
   padding: 10px;
}


